---
import "../styles/pages/aboutUs.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionTitle from "../components/ui/SectionTitle.astro";
import { aboutContent, metaContent } from "../data/content";

const title = "Acerca de KO729 | KO729";
const description = metaContent.pages.about.description;
const keywords = metaContent.pages.about.keywords;
---

<BaseLayout
  title={title}
  description={description}
  keywords={keywords}
  pageCss={[]}
>
  <SectionTitle title={aboutContent.title} />

  <div class="aboutContainer">
    <div class="elementContainer">
      <div class="textContainer">
        {aboutContent.sections.map((section) => (
          <>
            <div class="tittleAbout">{section.title}</div>
            <div class="descriptionAbout" set:html={section.description} />
          </>
        ))}
      </div>
    </div>

    <div class="elementContainer">
      <div class="imgContainer"></div>
    </div>
  </div>
</BaseLayout>
