---
import "../styles/pages/desarrollos.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentSection from "../components/ui/ContentSection.astro";
import ProjectCard from "../components/ui/ProjectCard.astro";
import PageHeader from "../components/ui/PageHeader.astro";
import { metaContent, validProjectSummaries } from "../data/content";

const title = "Desarrollos | KO729";
const description = metaContent.pages.desarrollos.description;
const keywords = metaContent.pages.desarrollos.keywords;
---

<BaseLayout
  title={title}
  description={description}
  keywords={keywords}
  pageCss={[]}
>
  <PageHeader title="DESARROLLOS" />
  <ContentSection className="desarrollosPage">
    <p class="desarrollosIntro">
      Explora nuestros desarrollos activos y conoce su avance.
    </p>
    <div class="desarrollosGrid">
      {validProjectSummaries.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          href={`/desarrollos/${project.slug}`}
        />
      ))}
    </div>
  </ContentSection>
</BaseLayout>
