---
import { assets } from "../config/assets";
---

<footer class="site-footer">
  <div class="footer_inner">
    <div class="footer_brand">
      <img src={assets.logos.letras} alt="KO729" class="footer_logo" />
      <div class="footer_tagline">ARCHITECTURE + ENGINEERING</div>
    </div>

    <div class="footer_column">
      <div class="footer_column_title">Contacto</div>
      <a class="footer_link" href="mailto:admin@ko729.com.mx">
        <img src={assets.icons.email} alt="Email" class="footer_icon" />
        <span>admin@ko729.com.mx</span>
      </a>
      <div class="footer_link footer_link_static">
        <img src={assets.icons.direccion} alt="Dirección" class="footer_icon" />
        <span>Concepcion Beistegui 110, Col Del Valle</span>
      </div>
    </div>

    <div class="footer_column">
      <div class="footer_column_title">Síguenos</div>
      <a class="footer_link" href="">
        <img src={assets.icons.instagramAlt} alt="Instagram" class="footer_icon" />
        <span>@_ko729</span>
      </a>
      <a class="footer_link" href="https://wa.me/5576324641">
        <img src={assets.icons.whatsappAlt} alt="WhatsApp" class="footer_icon" />
        <span>5576324641</span>
      </a>
    </div>
  </div>
  <div class="footer_copyright">© 2026 KO729. Todos los derechos reservados.</div>
</footer>
